*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*limita o espacamento de forma absoluta*/
}

html{
    font-size: 62.5%; /*10px*/
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%; /*nao será maior que o elemento container*/
    display: block;
}
 
.flex-container-content{
    outline: 1px solid red;
}
header{
    background-color: #00694f;
    padding: 1.6;
}
.flex-container-header{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.flex-container-header .logo {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: aliceblue;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
    display: block; /*torna o inLine em Block*/
    padding: 1.6rem;
    font-size: 2rem;
}

.flex-container-content{
    max-width: 900px; 
    margin: 1.6rem  auto;
    display: flex;
    flex-wrap: wrap;
         
}
.flex-item{
    flex: 1 1 300px; /*flex-glow flex-shrink flex-basis*/
    padding: 1.6rem;
}

.flex-item p{
    font-size: 2rem;
    text-align: center;

}

@media (max-width:400px) {
    /*Código caso a tela seja menor que 400px*/
    .anuncio{
        order: -1; /*define a ordem dele*/
    }
    
}