* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*limita o espacamento de forma absoluta*/
}

html {
  font-size: 62.5%; /*10px*/
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

.header,
.sidebar-left,
.content,
.sidebar-right,
.footer {
  outline: 1px solid red;
}

.grid-container {
  max-width: 900px;
  margin: 1.6rem auto;
  padding: 16px;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);
   grid-template-columns:1fr 1fr 1fr*/
  grid-template-columns: minmax(300px, 1fr) minmax(400px, 3fr) 100px;
  grid-template-areas:
    "header header header"
    "sidebar-left content sidebar-right"
    "footer footer footer";
  gap: 1.6rem;
}

.header {
  grid-area: header;
}
.sidebar-left {
  grid-area: sidebar-left;
}
.content {
  grid-area: content;
}
.sidebar-right {
  grid-area: sidebar-right;
}
.footer {
  grid-area: footer;
}

@media (max-width: 840px) {
  .grid-container {
    grid-template-columns: minmax(280, 1fr) 3fr 100px;
    grid-template-areas:
      "header header header"
      "sidebar-left content content"
      "sidebar-right sidebar-right sidebar-right"
      "footer footer footer";
  }
}
@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "sidebar-left "
      "content "
      "sidebar-right "
      "footer ";
  }
}
